<md-toolbar color="primary" class="md-whiteframe-z1">
  <a md-icon-button title="{{'Go back to identification cards' | translate}}" [routerLink]="['../../../../../']">
    <md-icon>keyboard_arrow_left</md-icon>
  </a>
  {{'Identification cards' | translate}}
</md-toolbar>

<fims-layout-card-over title="{{ 'Identification card' | translate }}">
  <fims-layout-card-over-header-menu layout="row" layout-align="end center">
    <button md-icon-button (click)="deleteIdentificationCard()" title="{{'Delete this identification card' | translate}}" *hasPermission="{ id: 'customer_customers', accessLevel: 'CHANGE' }"><md-icon>delete</md-icon></button>
  </fims-layout-card-over-header-menu>
  <div class="md-content" class="inset" flex>
    <md-list>
      <md-list-item>
        <h3 md-line translate>Number</h3>
        <p md-line>{{identificationCard.number}}</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line translate>Type</h3>
        <p md-line>{{identificationCard.type}}</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line translate>Issuer</h3>
        <p md-line>{{identificationCard.issuer}}</p>
      </md-list-item>
      <md-list-item>
        <h3 md-line translate>Expiration date</h3>
        <p md-line>{{identificationCard.expirationDate.year}}-{{identificationCard.expirationDate.month}}-{{identificationCard.expirationDate.day}}</p>
      </md-list-item>
    </md-list>
  </div>
</fims-layout-card-over>
<a md-fab color="accent" class="md-fab-position-bottom-right" title="{{'Edit identification card' | translate}}" [routerLink]="['edit']" *hasPermission="{ id: 'customer_customers', accessLevel: 'CHANGE' }">
  <md-icon>mode_edit</md-icon>
</a>
