<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<fims-layout-card-over title="{{group.name}} " [navigateBackTo]="['/groups']">
    <fims-layout-card-over-header-menu>
        <td-search-box #searchBox placeholder="{{'Search' | translate}}" (search)="searchGroup($event)" [alwaysVisible]="false"></td-search-box>
    </fims-layout-card-over-header-menu>
    <br>
    <mat-form-field>
        <mat-select placeholder="More Options">
            <mat-option>
                <a [routerLink]="['meetingDetail']">Meeting Details</a>
                <a [routerLink]="['close']">Close</a>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-card>
        <h4>Members</h4>
        <button mat-raised-button [routerLink]="['transferMember']">Transfer Members</button>
        <button mat-raised-button [routerLink]="['manageMember']">Manage Members</button>

        <table>
            <tr>
                <th>Account #</th>
                <th>Name</th>
            </tr>
            
            <tr>
                <td>Head Office</td>
                <td>Joseph</td>
            </tr>

        </table>
    </mat-card>

    <mat-card>
            <p>Next meeting on :<mat-icon [routerLink]="['']">edit</mat-icon></p>
            <p> Meeting Frequency Every {{group.frequency}}</p>
    </mat-card>

    <mat-card>
        <h4>Group Details</h4>
        <p>Activation Date : {{group/id.createdOn}}</p>
        <p>Staff : {{group/id. assignedEmployee}}</p>
        <p>External Id : {{group/id.groupDefinitionIdentifier}}</p>
        <h5>Summary</h5>
        <p>Active Members : {{10}}</p>
    </mat-card>

</fims-layout-card-over>
<fims-fab-button title="{{'Edit Group ' | translate}}" icon="mode_edit" [link]="['edit']"></fims-fab-button>