<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<fims-layout-card-over title="{{'Transfer Members between groups' | translate}}">
    <form [formGroup]="form" layout="column" #form (onSave)="onSave($event)" (onCancel)="onCancel()">
        <h4>Members</h4>
        <mat-card>
            <h6> Available Members</h6>
            <mat-form-field>
                <mat-select #selected>
                    <mat-option *ngFor="let customer of customers" [value]="customer.value">
                        {{ customer.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>

        <mat-card>
            <button mat-button mat-raised-button color="primary">
                <mat-icon>fast_forward</mat-icon>
            </button>
            <br>
            <br>
            <button mat-button mat-raised-button color="primary">
                <mat-icon>fast_rewind</mat-icon>
            </button>
        </mat-card>
        <mat-card>
            <h6> Selected Members</h6>
            <mat-form-field>
                <mat-select #selected>
                    <mat-option *ngFor="let selectCustomer of selectedCustomers" [value]="customer.value">
                        {{ selectedCustomer.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
 <fims-text-input [form]="form" controlName="name" placeholder="{{'Destination Group*' | translate}}"></fims-text-input>

 <div layout="row">
     <h5>Destination Group Details</h5>
     <p>Name:</p>
     <p>ID:</p>
     <p>Activation Date:</p>
     <p>Employee Assigned:</p>
     <p>External ID:</p>

 </div>
 
 
 <button mat-raised-button color="primary" (click)="onSave(selected.value)" [disabled]="form.invalid">{{'Closing Group'| translate}}</button>
 <span flex></span>
 <button mat-button (click)="onCancel()">{{'CANCEL' | translate}}</button>
</form>
</fims-layout-card-over>