<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<fims-layout-card-over [title]="caseInstance.identifier" *ngIf="caseInstance$ | async as caseInstance" [navigateBackTo]="['../../../../../../../../']">
  <td-message *ngIf="caseInstance.currentState === 'APPROVED'" label="{{'Member loan approved' | translate }}" sublabel="{{'To activate this loan you need to disburse' | translate }}" color="accent" icon="error">
    <button td-message-actions mat-button *hasPermission="{ id: 'portfolio_cases', accessLevel: 'CHANGE'}" [routerLink]="['tasks']" translate>GO TO TASKS</button>
  </td-message>
  <fims-two-column-layout>
    <mat-nav-list left>
      <h3 mat-subheader translate>Management</h3>
      <a mat-list-item [routerLink]="['./payments']">
        <mat-icon matListAvatar>payment</mat-icon>
        <h3 matLine translate>Planned Payments</h3>
        <p matLine translate>View payments</p>
      </a>
      <a mat-list-item [routerLink]="['./tasks']" *hasPermission="{ id: 'portfolio_cases', accessLevel: 'CHANGE'}">
        <mat-icon matListAvatar>playlist_add_check</mat-icon>
        <h3 matLine translate>Tasks</h3>
        <p matLine translate>Change the status of the member loan</p>
      </a>
      <a mat-list-item [routerLink]="['./debtIncome']">
        <mat-icon matListAvatar>show_chart</mat-icon>
        <h3 matLine translate>Debt Income Report</h3>
        <p matLine translate>View debt income report</p>
      </a>
      <a mat-list-item [routerLink]="['./documents']" *hasPermission="{ id: 'portfolio_documents', accessLevel: 'READ'}">
        <mat-icon matListAvatar>content_paste</mat-icon>
        <h3 matLine translate>Loan documents</h3>
        <p matLine translate>Manage loan documents</p>
      </a>
    </mat-nav-list>
    <mat-list right>
      <h3 mat-subheader translate>Current status</h3>
      <fims-state-display [state]="caseInstance.currentState"></fims-state-display>
      <h3 mat-subheader translate>Details</h3>
      <mat-list-item>
        <h3 matLine translate>Loan product id</h3>
        <p matLine>{{caseInstance.productIdentifier}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine translate>Principal amount</h3>
        <p matLine>{{caseInstance.parameters.maximumBalance | number:numberFormat}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine translate>Interest</h3>
        <p matLine>{{caseInstance.interest | number:numberFormat}}</p>
      </mat-list-item>
      <fims-case-detail-payment-cycle [paymentCycle]="caseInstance.parameters.paymentCycle"></fims-case-detail-payment-cycle>
      <mat-list-item>
        <h3 matLine translate>Term</h3>
        <p matLine>{{caseInstance.parameters.termRange.maximum | number}} {{caseInstance.parameters.termRange.temporalUnit}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine translate>Member deposit account</h3>
        <p matLine>{{caseInstance.depositAccountIdentifier}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine translate>Created by</h3>
        <p matLine>{{caseInstance.createdBy}} - {{caseInstance.createdOn | date:'medium'}}</p>
      </mat-list-item>
      <mat-list-item>
        <h3 matLine translate>Last modified by</h3>
        <p matLine>{{caseInstance.lastModifiedBy}} - {{caseInstance.lastModifiedOn | date:'medium'}}</p>
      </mat-list-item>
    </mat-list>
  </fims-two-column-layout>
</fims-layout-card-over>
<fims-fab-button title="{{'Edit member loan' | translate}}" icon="mode_edit" [link]="['edit']" *ngIf="canEdit$ | async"></fims-fab-button>
