<div layout="row">
  <md-input-container layout-margin flex>
    <input mdInput [placeholder]="title" [mdAutocomplete]="auto" [formControl]="formControl">
    <md-hint class="tc-red-600">
      <ng-content></ng-content>
    </md-hint>
  </md-input-container>
</div>

<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let transactionType of transactionTypes | async" [value]="transactionType.code">
    {{ transactionType.code }}({{ transactionType.name }})
  </md-option>
</md-autocomplete>
