<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<fims-layout-card-over title="{{'Associate New Members' | translate}}">
    <mat-form-field>
    <input type="text" placeholder="Select a Member" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let customer of customers" [value]="customer">
        {{ customer }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addMember()">Add</button>
  <br>

  <div layout="row">
      <h3>Group details from  the selected member</h3>
      <p> Member name:</p>
      <p>ID:</p>
      <p>Office:</p>

  </div>

  <div layout="row">
      <h3>Group Members</h3>

      <mat-list>
            <mat-list-item *ngFor="let customer of customers">
                    <a >{{ customer.name }}, {{customer.id}}</a>
                    <button mat-icon-button (click)="delete(customer)">
                       <mat-icon>clear</mat-icon>
                    </button>
                 </mat-list-item>
      </mat-list>
  </div>


  <button mat-raised-button color="primary" (click)="onBack()">Back</button>
</fims-layout-card-over>