<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div layout-gt-md="row" layout-align-gt-md="center start" class="margin">
  <div flex-gt-md="25" layout-align="center center" layout-margin>
    <mat-card>
      <mat-card-title>
        <div layout="row">
          <mat-form-field flex>
            <mat-select [(ngModel)]="currentLanguage" name="language"
                        matTooltip="{{'Change language' | translate}}" matTooltipPosition="right" (change)="selectLanguage($event)">
              <mat-option *ngFor="let option of languageOptions" [value]="option.id">
                {{option.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-title>
      <mat-card-subtitle translate>sign in via your current account</mat-card-subtitle>
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-card-content>
          <div layout="row">
            <mat-form-field layout-margin flex>
              <mat-icon matPrefix>business</mat-icon>
              <input matInput placeholder="{{'Tenant' | translate}}" type="text" formControlName="tenant"/>
              <mat-error *ngIf="form.get('tenant').hasError('required')" translate>
                Required
              </mat-error>
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-form-field layout-margin flex>
              <mat-icon matPrefix>person</mat-icon>
              <input matInput placeholder="{{'Username' | translate}}" type="text" formControlName="username"/>
              <mat-error *ngIf="form.get('username').hasError('required')" translate>
                Required
              </mat-error>
            </mat-form-field>
          </div>
          <div layout="row">
            <mat-form-field layout-margin flex>
              <mat-icon matPrefix>lock</mat-icon>
              <input matInput placeholder="{{'Password' | translate}}" type="password" formControlName="password" autocomplete="new-password"/>
              <mat-error *ngIf="form.get('password').hasError('required')" translate>
                Required
              </mat-error>
            </mat-form-field>
          </div>
          <div layout="row" *ngIf="error$ | async as error">
            <p class="mat-caption tc-red-700">{{error | translate}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div layout="row">
            <button flex type="submit" mat-raised-button color="primary" [disabled]="form.invalid">{{'Sign In' | translate}}</button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
