<md-toolbar color="primary" class="md-whiteframe-z1">
  <a md-icon-button title="{{'Go back to customer' | translate}}" [routerLink]="['../']">
    <md-icon>keyboard_arrow_left</md-icon>
  </a>
  {{'Customer' | translate}}
</md-toolbar>

<fims-layout-card-over title="{{'Upload portrait' | translate}}">
  <md-card-content>
    <div layout="column" layout-align="center center">
      <fims-portrait [blob]="portrait" [size]="'large'"></fims-portrait>
    </div>
    <div layout="column" layout-align="center center" *hasPermission="{ id: 'customer_portrait', accessLevel: 'CHANGE' }">
      <span translate>Selected file:</span> {{ fileSelectMsg | translate }}
      <span *ngIf="fileSelectMsg" translate>
        Press the upload button below to upload the portrait.
      </span>
      <div layout="row" layout-margin>
        <td-file-upload #singleFileUpload (select)="selectEvent($event)" (upload)="uploadEvent($event)"
                        accept=".jpg,.png">
          <md-icon>file_upload</md-icon>
          <span translate>Click here to upload</span><span>{{ singleFileUpload.files?.name }}</span>
          <ng-template td-file-input-label>
            <md-icon>attach_file</md-icon>
            <span translate>Choose a file to upload(max size 512 KB)</span>
          </ng-template>
        </td-file-upload>
      </div>
      <span layout-margin *ngIf="invalidSize" class="tc-red-500" translate>
        Portrait can't exceed size of 512KB.
      </span>
      <div layout="row" layout-margin *hasPermission="{ id: 'customer_portrait', accessLevel: 'DELETE' }">
        <button md-raised-button color="warn" (click)="deletePortrait()">{{'DELETE PORTRAIT' | translate}}
        </button>
      </div>

    </div>
  </md-card-content>
</fims-layout-card-over>
