<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<fims-layout-card-over title="{{'Attach Meeting Date' | translate}}"> 
<form [formGroup]="form" layout="column" #form
                              (onSave)="onSave($event)"
                              (onCancel)="onCancel()"
>
                              
    <fims-text-input [form]="form" controlName="startDate" placeholder="{{'Meeting Start date*' | translate}}"></fims-text-input>
    <mat-checkbox formControlName="repeat" layout-margin translate>Repeat</mat-checkbox>
    <br>
    <h4>Repeat details</h4>

    <mat-form-field>
      <mat-select placeholder="Repeat" #frequency>
        <mat-option *ngFor="let frequency of Frequency" [value]="frequency.value">
          {{ frequency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Repeat Every" #repeat>
        <mat-option *ngFor="let repeat of Repeat" [value]="repeat.value">
          {{ repeat.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    <p>{{'repeat'}}</p>

    <mat-radio-group>
      <mat-radio-button value="1" formControlName="day" >Mon</mat-radio-button>
      <mat-radio-button value="2" formControlName="day" >Tue</mat-radio-button>
      <mat-radio-button value="3" formControlName="day" >Wed</mat-radio-button>
      <mat-radio-button value="4" formControlName="day" >Thu</mat-radio-button>
      <mat-radio-button value="5" formControlName="day" >Fri</mat-radio-button>
      <mat-radio-button value="6" formControlName="day" >Sat</mat-radio-button>
      <mat-radio-button value="7" formControlName="day" >Sun</mat-radio-button>
    </mat-radio-group>
    <br>

    <button mat-raised-button color="primary" (click)="onSave(frequency.value,repeat.value)" [disabled]="form.invalid">{{'Meeting date set'| translate}}</button>
      <span flex></span>
      <button mat-button (click)="onCancel()">{{'CANCEL' | translate}}</button>
  </form>

</fims-layout-card-over>