<td-steps mode="'vertical'">
  <td-step #detailsStep label="{{'Assign product' | translate}}" [state]="detailForm.valid ? 'complete' : detailForm.pristine ? 'none' : 'required'">
    <form [formGroup]="detailForm" layout="column">
      <div layout="row" class="pad-top" *ngIf="!editMode">
        <md-select formControlName="productIdentifier" layout-margin placeholder="{{ 'Select product' | translate }}">
          <md-option *ngFor="let definition of productDefinitions" [value]="definition.identifier">
            {{definition.name}}
          </md-option>
        </md-select>
      </div>
      <div layout="row">
        <td-chips [items]="filteredCustomers | async"
                  [debounce]="500"
                  formControlName="beneficiaries"
                  placeholder="{{'Search beneficiary' | translate }}"
                  (inputChange)="filterAsync($event)"
                  requireMatch>
          <ng-template td-chip let-chip="chip">
            <div class="tc-grey-100 bgc-teal-700" td-chip-avatar>{{chip.substring(0, 1).toUpperCase()}}</div> {{chip}}
          </ng-template>
        </td-chips>
      </div>
    </form>
    <ng-template td-step-actions>
      <fims-form-final-action
        [resourceName]="'DEPOSIT ACCOUNT'"
        [editMode]="editMode"
        [disabled]="!isValid"
        (onCancel)="cancel()"
        (onSave)="save()">
      </fims-form-final-action>
    </ng-template>
  </td-step>
</td-steps>
