.small {
  font-size: 40px;
  line-height: 40px;
  height: 90px;
  width: 90px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}

.medium {
  font-size: 40px;
  line-height: 40px;
  height: 190px;
  width: 190px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}

.large {
  font-size: 40px;
  line-height: 40px;
  height: 290px;
  width: 290px;
  margin: 16px 0 0 15px;
  border-radius: 50%;
}
